# Git
.git
.gitignore

# Build artifacts
bin/
tmp/

# Environment-specific files
.env
*.env

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# Editor files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log
